<md-toolbar layout="row" layout-align="start center" md-scroll-shrink>
    <md-button href="#/" class="md-raised "><img ng-src="assets/images/flowmanager_logo.png"></md-button>

    <section layout="row" layout-align="end center" flex>
        <md-button href="#/" class="md-raised" style="width:140px;"><md-icon md-svg-src="assets/icons/business-affiliate-network.svg"></md-icon>Controller</md-button>
        <md-button href="#/create" class="md-raised" style="width:140px;"><md-icon md-svg-src="assets/icons/ic_create_black_24px.svg"></md-icon>Create</md-button>
	<md-button href="#/manage" class="md-raised" style="width:140px;"><md-icon md-svg-src="assets/icons/ic_list_black_24px.svg"></md-icon>Manage</md-button>
    </section>

</md-toolbar>

